body{
    background-color:grey;

}
.content{
    background-color:white;
    /*max-width:800px;*/
    width:800px;
    margin:60px auto 0 auto;
    padding:30px;
    overflow: auto;

}

section{
    background-color:yellow;
    margin-bottom: 5px;
    height:200px;
    text-align:center;
    line-height:5em;
    font-size:30px;
    font-weight:bold;
    color:#fff;
    float:left;
}

.one{background-color:red;
    width:50%;

}
.two{background-color:green;
    width:50%;
}
.three{background-color:blue;
    width:33.3%;
}
.four{background-color:purple;
    width:33.3%;
}
.five{background-color:orange;
    width:33.3%;
}
.six{background-color:blue;
    width:25%;
}
.seven{background-color:violet;
    width:25%;
}
.eight{background-color:yellow;
    width:25%;
}
.nine{background-color:purple;
    width:25%;
}



@media only screen and (max-width: 40em) {
    .three.four.five{
        width:100%;
    }
    }


    @media only screen and (min-width: 601px) and (max-width: 800px) {
        .six,.seven,.eight,.nine{
            width:50%;

        }
    }